* {
    color: aliceblue;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
}

body{
  background-color: #000;
}

header {

}

footer {
  background-color: #444;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    padding-right: 2%;
    margin-top: 0.5%;
    text-align: right;
}

h3 {
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 250;
    padding-right: 2%;
    text-align: right;
}

a{
  text-decoration: none;
}

p.main-head {
    color: white;
    padding-top: 2.5%;
    letter-spacing: 0.5px;
    padding: 1% 5%;
}

p.focused-vs-diffuse {
    color: white;
    padding: 1% 5%;
}

p.chunking {
  color: white;
  padding: 1% 5%;
}

p.testchecklist {
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
p.pomodoro1 {
  padding: 1% 5%;
}
ul.pomodoro1 {
  padding: 1% 10%;
}
ol.pomodoro1 {
  padding: 1% 10%;
}
p.procrastination {
  padding: 1% 5%;
}

.images {

}

.images#learn2learn {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images#thinkingmodes{
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images#pomodoro {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  opacity: 0.9;
}

#caption1 {
  padding: 1%;
}

.chunking {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  padding: 20px 10px;
}

#images{
  text-align: center;
}

#icons{
  padding: 5px;
}

#footersmall {
  font-size: 0.7rem;
}

.links {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
}

button {
  background-color: #e77422;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #555;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #e77422;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  /* This is for the checklist */

  .container {
  color: #eeeeee;
	display: flex;
	flex-direction: column;
  text-wrap: wrap;
	min-width: auto;
  min-height: auto;
	box-shadow: 3px 3px 10px rgba(360, 360, 360, 0.15);
	border-top: 5px solid #e77422;
	border-bottom: 5px solid #e77422;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.todo {
  display:inline-flex;
	padding: 1em;
  min-height: auto;

}

.todo__value {
	background: transparent;
	border: none;
	outline: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	font-weight: bold;
	flex-grow: 1;
  min-height: auto;
}

.todo:has(.todo__checkbox:checked) {
	color: #555555;
	background: #e77422;
	text-decoration: line-through;
	order: 1;
}