* {
    background-color: black;
    opacity: 0.9;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
}

header {

}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    padding-right: 2%;
    margin-top: 0.5%;
    text-align: right;
}

h3 {
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 250;
    padding-right: 2%;
    text-align: right;
}

p.main-head {
    color: white;
    padding-top: 2.5%;
    letter-spacing: 0.5px;
    padding: 1% 5%;
}

p.focused-vs-diffuse {
    color: white;
    padding: 1% 5%;
}

.images {

}

.images#learn2learn {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #555;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #e77422;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }